.parcel-detail {
  padding: 120px 0;
  width: 1250px;
  margin: 0 auto;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.product-card button {
  width: 100%;
}

.product-card .card-title {
  cursor: pointer;
}

.product-card .card-title:hover {
  text-decoration: underline;
}

.product-card img {
  cursor: pointer;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  transition: transform 0.2s;
  transition-timing-function: ease;
}

.product-card img:hover {
  transform: scale(107%);
}

.addedProducts {
  display: flex;
}

.addedProducts img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.addedProducts .product-detail,
.addedProducts .top {
  width: 100%;
}

.addedProducts input[type="number"]::-webkit-inner-spin-button,
.addedProducts input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.addedProducts .quantity input {
  width: 26px;
  height: 26px;
  font-size: 12px;
  text-align: center;
}

.addedProducts .quantity a {
  text-decoration: none;
  color: #041e43;
}

.addedProducts .btn-close {
  font-size: 11px;
}

.parcel-detail {
  position: relative;
}

.details-bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
}

.parcel-detail .modal {
  width: 800px;
}

.modal-body img {
  height: 400px;
}

/* BOOTSTRAP */
.btn-outline-primary,
.btn-outline-primary:focus,
.btn-outline-primary:visited {
  color: #041e43;
  border-color: #041e43;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: #ffffff;
  border-color: #041e43;
  background-color: #041e43;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:visited {
  border: none;
  background-color: #041e43;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:disabled {
  background-color: #314c72;
}
