.login {
  height: 100vh;
}

.row {
  height: 100%;
}

.col-left {
  background-image: url("../images/img_login-register.jpg");
  background-size: cover;
  background-position: left;
}

.col-right {
  background-color: #fff;
}

.container-login,
.container-register {
  width: 450px;
}

form,
.alert {
  width: 100%;
}

.form-email:invalid {
  outline: red;
}

.password-input-container {
  position: relative;
}

svg.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.input-invalid {
  border-color: red;
}

.validation-alert {
  margin-top: 7px;
  font-size: 13px;
}

/* BOOTSTRAP COMPONENTS */
a.link-primary {
  color: #314c72;
}

a.link-primary:hover,
a.link-primary:active,
a.link-primary:visited,
a.link-primary:focus {
  color: #314c72;
}

input.btn-primary {
  border: none;
  background-color: #041e43;
}

input.btn-primary:hover,
input.btn-primary:active,
input.btn-primary:visited,
input.btn-primary:focus {
  background-color: #314c72;
}
