@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

nav.navbar {
  width: 100%;
  max-width: 1200px;
  padding-top: 30px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 999;
}

#logo {
  height: 20px;
}

i {
  position: relative;
  font-size: 20px;
  margin-right: 6px;
}

.badge {
  font-size: 12px;
  font-style: normal;
  padding: 3px 6px;
}

.nav-link,
.nav-link:active,
.nav-link:visited,
.nav-link:focus {
  color: #041e43;
}

.nav-link:hover {
  color: #314c72;
}
